
<div class="root">

    <div class="root-container background-container">
      <div class="left-section">
        <img class="img" src="../../assets/Image/gie5rLk8T.png" alt="photo">
    
      </div>
    
      <div class="right-section">
        <div class="content">
          <div class="logo">
            <i class="fas fa-cubes"></i>
            <h1>Quiz App</h1>
          </div>
    
          <p>Our screening tests identify the best candidates and make your hiring decisions faster, easier, and bias-free.</p>
          <br>
          <button class="btn btn-danger" routerLink="">Upload Quiz</button>
          <button class="btn btn-success" routerLink=""> Attend Quiz</button>
          
        </div>
      </div>
    </div>
    </div>
