<div class="root">
  <div class="root-container background-container justify-content-center align-items-center">
    <div class="left-section">
      <img class="img" src="../../assets/Image/gie5rLk8T.png" alt="photo">
    </div>
    <div class="right-section">
      <div class="content">
        <div class="logo">
          <i class="fas fa-cubes"></i>
          <h1>Quiz App</h1>
        </div>
        <p>Our screening tests identify the best candidates and make your hiring decisions faster, easier, and bias-free.</p>
        <br>
        <button class="btn btn-outline-danger rounded-0 p-2 w-25" routerLink="/auth">Upload</button>
        <button class="btn btn-outline-success rounded-0 p-2 w-25" routerLink="/attend"> Attend</button>
      </div>
    </div>
  </div>
</div>
