<!-- header section -->
<div class="container-fluid">
  <app-header [title]="quiz?.title"></app-header>
</div>

<!-- quiz -->
<div class="container-fluid">
  <div class="row" *ngIf="!result">
    <div class="col-10">
      <div class="container p-3">
        <div *ngIf="questions[currentQuizIndex].type === 'text'">
          <app-text-quiz [question]="questions[currentQuizIndex]"></app-text-quiz>
        </div>
        <div *ngIf="questions[currentQuizIndex].type === 'mcq'">
          <app-mcq [question]="questions[currentQuizIndex]" (onAnswerSelected)="onAnswerSelected($event)"></app-mcq>
        </div>
      </div>
      <div class="container">
        <div class="container-fluid">
          <app-footer [gotoNextPage]="gotoNextPage" [gotoPreviousPage]="gotoPreviousPage"
                      [isLastQuestion]="currentQuizIndex + 1 === questions.length"
                      [isFirstQuestion]="currentQuizIndex === 0"
                      [submitAnswers]="submitAnswers"></app-footer>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div>
        <h1>Questions</h1>
      </div>
      <div>
        <div class="d-flex question-wrap">
          <app-quiz-overall-view *ngFor="let q of questions; let i = index"
                                 [quizNumber]="i" [gotoPage]="gotoPage" [currentPage]="currentQuizIndex"></app-quiz-overall-view>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- result page -->
<div class="container" *ngIf="result">
  <app-quiz-result [result]="result"></app-quiz-result>
</div>

