i{
    color: rgb(125, 22, 221);
    font-size: 40px;
}

.footer i{
color:white;
}
.footer .con{
    background:#6cf;
   color: white;
   width: 100%;
   height: 10vh;
}
h6{
    color: white;
    padding: 10px;
}

@media only screen and (max-width: 768px){
    .footer .con{
        bottom: 0;
        margin-top:34vh;
    }
}