<!-- header section -->
<div class="container-fluid">
  
</div>

<!-- quiz -->
<div class="row">
  <div class="col-8">
    <div class="container">
      <div>
        <!-- text quiz insert here -->
      </div>
      <div>
        <!-- mcq quiz insert here -->
      </div>
    </div>
    <div class="container">
      <!-- footer -->
      <div class="container-fluid">
        <!-- footer goes here -->
      </div>
    </div>
  </div>
  <div class="col-4">
    <!-- quiz navigation insert here -->
  </div>
</div>