<!-- header section -->
<div class="container-fluid">
  <app-header></app-header>
</div>

<!-- quiz -->
<div class="row">
  <div class="col-8">
    <div class="container">
      <div>
        <app-text-quiz></app-text-quiz>
        <app-mcq [question]="appService.questions[appService.currentPageIndex]"></app-mcq>
      </div>
      <div>
        <!-- mcq quiz insert here -->
      </div>
    </div>
    <div class="container">
      <app-footer></app-footer>
      <div class="container-fluid">
        <!-- footer goes here -->
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <h1>Questions</h1>
    </div>
    <div class="row">
      <div class="d-flex question-wrap">
        <app-quiz-overall-view
          *ngFor="let app of appService.questions; let i = index"
          [quizNumber]="i"
        ></app-quiz-overall-view>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <app-quiz-result></app-quiz-result>
</div>
